/* Treinamento em HTML e CSS*/
#main_body {
  background-image: url("../img/slider/bg1.jpg");
  background-color: rgb(50, 50, 50);
  height: 800px;
  width: 1000px;
}

#main_menu {
  background-color: rgba(150, 150, 255, 0.75);
  color: rgb(255, 255, 255);
  font-size: 150%;
  font-weight: bold;
  height: 50px;
}

#links_menu {
  float: right;
}

#main_text {
  position: relative;
  left: 50px;
  top: 30px;
  width: 600px;
  height: 350px;
  background-color: rgba(70, 70, 200, 0.5);
}

#main_text h1 {
  color: rgb(255, 255, 255);
  font-size: 200%;
  line-height: 2.5;
  text-align: center;
  text-transform: uppercase;
}

#main_text p {
  color: rgb(255, 255, 255);
  font-size: 150%;
  padding: 0px 25px 50px 50px;
}

#sevices {
  /*position: absolute;
  top: 1000px;*/
  height: 800px;
  width: 1000px;
}

#services h2 {
  font-size: 180%;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  line-height: 1.5;
}

.block_content {
  width: 300px;
  height: 150px;
}

.block_content h3 {
  color: rgb(200, 200, 255);
  font-size: 130%
  line-height: 1.5;
}

#monitor {
  position: relative;
  top: 50px;
  left: 100px;
}

#cog {
  position: relative;
  top: -110px;
  left: 500px;
}

#ruler {
  position: relative;
  /*top: 100px;*/
  left: 100px;
}

#camera {
  position: relative;
  top: -150px;
  left: 500px;
}

#footer {
  position: relative;
  background-color: rgb(0, 0, 0);
  top: 50px;
  height: 200px;
  width: 1000px;
}

#footer h1 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
